################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/2402-PROJETO%20INTEGRADOR-DESENVOLVIMENTO%20DE%20SISTEMAS%20ORIENTADO/v17
/.vs/2402-PROJETO%20INTEGRADOR-DESENVOLVIMENTO%20DE%20SISTEMAS%20ORIENTADO/FileContentIndex
/.vs
